* {
  box-sizing: border-box;
}

.display-scores {
  display: flex;
}

.refresh {
  margin-top: 25px;
  margin-left: 15px;
  border: 2px solid;
}

.add-scores {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  left: 35rem;
  top: 80px;
}

.add-btn {
  margin-left: 90px;
}

.show {
  display: flex;
  flex-direction: column;
}

li:nth-child(odd) {
  width: 30%;
  border: 0.2px solid;
  background-color: rgb(226, 226, 226);
  display: flex;
}

li:nth-child(even) {
  width: 30%;
  border: 0.2px solid;
  display: flex;
}

.inline {
  margin-top: 0;
  margin-left: 10px;
}
